@model MovieRatingSystem.ViewModels.MovieFormViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.GenreId"></label>
                <select asp-for="GenreId" asp-items="@(new SelectList(Model.Genres,"Id","Name"))" class="form-control"><option value="" selected="">Select a Movie Genre</option></select>
                <span asp-validation-for="GenreId" class="text-danger"></span>
            </div>
            <div class="form-group" id="director">
                <label asp-for="Director" class="control-label"></label>
                <input asp-for="Director.Name" class="form-control" />
                <span asp-validation-for="Director.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImgCode" class="control-label"></label>
                <input asp-for="ImgCode" class="form-control" />
                <span asp-validation-for="ImgCode" class="text-danger"></span>
            </div>
            @await Html.PartialAsync("_AddActor",Model)
            <div class="form-group">
                @Html.HiddenFor(m => m.Id)
                @Html.AntiForgeryToken()
                <input type="submit" value="Create" id="createmovie" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

        var actorCounter = 0;

        $("#addActor").click(function () {

            //var actorvalue = "actorField_" + actorCounter;

            //actorlist.append(actorlist, document.getElementById(actorvalue).val);
            //ActorsNameList = ActorsNameList + ";" + document.getElementById(actorvalue).val;

            actorCounter++;

            var newelement = "<input class=\"form-control actor\" asp-for =\"ActorsNameList[" + actorCounter + "]\" id=\"actorField_" + actorCounter + "\" />";

            $("#actorcontainer").append(newelement);
        });
    </script>
    @*<script>

        $("#createmovie").click(function () {
            var vm = {
                actorlist = []
            };

            $("#actorcontainer").children("input").each(function () {
                alert($(this).val);
                actorlist.push($(this).val);
            });

            @Model.ActorsNameList.AddRange(vm.actorlist)

        });
    </script>*@


}
