@model IEnumerable<MovieRatingSystem.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<h1>Movie List</h1>

<h5>@Model.Count() - Movies</h5>

<div >
    @foreach (var item in Model)
    {
        <div>
            <a>
                <img src="~/images/dieHard.jpg" width="100" alt="ASP.NET" class="img-responsive" />
            </a>
            <div>
                <a><strong>@item.Name</strong></a>
            </div>
        </div>
    }
</div>




@*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Year)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Director)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Director.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
